@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

:root{
    --back-color:#FC575E;    ;
    --back-color2:#F7B42C;
}

body{
    font-family: 'Gloria Hallelujah', cursive;
    background: linear-gradient(var(--back-color), var(--back-color2));
    place-content: center;
    margin: 0;
    
    
}

h1{
    text-align: center;
    font-size:3em;
}

#text-area{
    
    display:block;
    margin: auto;
    width: 60%;
    height: 15vh;
    border: 5px solid;
    border-radius: 10px;
    margin-top: 2rem;
}

#BtnTranslate{
    display: block;
    margin: auto;
    padding: 1rem 2rem;
    margin-top:2rem;
    background: var(--back-color2);
    font-family: 'Gloria Hallelujah', cursive;
    font-size: large;
    border-radius: 10px;
    font-style: bold;
}

#output{
    width: 50%;
 border: 1px solid black;
height: 15vh;
 margin:auto;
 margin-top: 2rem;
 display: block;
 background-color: white;
 border-radius: 10px;
 border: 5px solid;
}

#fix-gradient{
    height:18vh;
}

.footer{
    position:fixed;
    padding: 0.5rem;
    bottom: 0;
    display: block;
    text-align: center;
    background-color: var(--back-color);
    width: 100%;
    box-sizing: border-box;
    height: 10vh;
}

